<!DOCTYPE html>
<html lang="zh_CN">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}.ng-hide-add-active,.ng-hide-remove{display:block!important;}</style>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>小牛的微信</title>
    <meta name="keywords" content="微信网页版,weixin web,wechat,微信 pc,微信电脑版,wechat web,微信 web,微信电脑">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">if(window.top!== window.self){top.location=self.location;}</script>
    <link rel="shortcut icon" href="http://niujiajun.com/images/favico.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="http://niujiajun.com/base2fd632.css">
	    <style type="text/css" media="screen">
      body {
        background-color: #f1f1f1;
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}

    </style>
	
</head>
<body mm-action-track="" track-type="resize" ng-controller="appController" ng-class="{loaded:isLoaded,unlogin:isUnLogin}" ng-click="appClick($event)" class="ng-scope ng-isolate-scope unlogin">
    <canvas style="position:absolute;top:0;left:0;bottom:0;right:0;z-index:-1;width:100%;height:100%;" id="heroCanvas"></canvas>
    <!--BEGIN login-->
    <!-- ngIf: true -->
	<div class="login ng-scope" ng-controller="loginController" ng-if="true">

        <!--BEGIN logo-->
        <div class="logo">
            <i class="web_wechat_login_logo"></i>
        </div>
        <!--END logo-->
        <!--BEGIN login_box-->
        <div class="login_box">
            <div class="qrcode" ng-class="{hide: isScan}">
                <img class="img" src="http://chuantu.biz/t5/29/1471604293x3663034067.png">
                <p class="sub_title">扫描二维码添加卡咔喀为好友</p>
                <div>
                    <div>
                        <i class="icon web_wechat_login_scan_icon"></i>
                        <div class="cont">
                            <h4 class="title">个人微信号</h4>
                            <p class="desc">加了也没有干货分享</p>
                        </div>
                    </div>
					<div class="item">
                        <i class="icon web_wechat_login_phone_icon"></i>
                        <div class="cont">
                            <a href="http://niujiajun.com/">
								<img width="32" height="32" title="小牛的博客" alt="小牛的博客" src="http://niujiajun.com/images/favico.png">
							</a>
                        </div>
                    </div>
                </div>
            </div>
			

        </div>
        <!--END login_box-->
    </div><!-- end ngIf: true -->
    <!--END login-->
    <!--BEGIN main-->

<div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"><div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div></div></body></html>